// colors

$color-1: #292929; // Pickled Bluewood
$color-2: #3BCC5A; // Curious Blue
$color-3: #ffffff; // White
$color-4: #ecf0f1; // Porcelain
$color-5: #E04144; // Cinnabar

// fonts 

$primary-font: 'Source Sans Pro', sans-serif;